* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-family: "Foldit", cursive;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 80%;
  padding: 34px;
  margin: auto;
}

.container h1 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-family: "Foldit", cursive;
  font-family: "Young Serif", serif;
}

p {
  text-align: center;
  font-size: 23px;
  font-family: "Caveat", cursive;
  font-family: "Foldit", cursive;
  font-family: "Young Serif", serif;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid wheat;
  border-radius: 7px;
  color: black;
  outline: none;
  font-size: 15px;
  width: 80%;
  margin: 10px 0px;
  padding: 6px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  color: rgb(255, 254, 254);
  background-color: #1b1b1c;
  padding: 10px 18px;
  border: 2px solid black;
  border-radius: 7px;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
}

.bg {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.submitmsg {
  font-size: 20px;
  color: #04364a;
}
